{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Société</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Form Componants</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Form Elements</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Informations</h5>
                            </div>
                            <div class="card-body">
                                <h5>Form controls</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <form>
                                            <div class="form-group">
                                                <label>RAISON SOCIALE</label>
                                                <input type="text" class="form-control" placeholder="Raison sociale">
                                            </div>
                                            <div class="form-group">
                                                <label>Nom</label>
                                                <input type="text" class="form-control" placeholder="Nom">
                                            </div>
                                            <div class="form-group">
                                                <label>C.N.I.</label>
                                                <input type="text" class="form-control" placeholder="CNI">
                                            </div>
                                            <div class="form-group">
                                                <label>Taxe Professionnel</label>
                                                <input type="text" class="form-control" placeholder="N° T.P.">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">Régime</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>Encaissement</option>
                                                    <option>Débit</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">Régime Périodique de déclaration</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>Mensuel</option>
                                                    <option>Trimestriel</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Téléphone</label>
                                                <input type="text" class="form-control" placeholder="N° de Téléphone">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <form>
                                            <div class="form-group">
                                                <label>IDENTIFIANT FISCAL</label>
                                                <input type="text" class="form-control" placeholder="Identifiant Fiscal">
                                            </div>
                                            <div class="form-group">
                                                <label>Prénom</label>
                                                <input type="text" class="form-control" placeholder="Prénom">
                                            </div>
                                            <div class="form-group">
                                                <label>I.C.E.</label>
                                                <input type="text" class="form-control" placeholder="N° I.C.E.">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">Forme Juridique</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>SARL- Société à Resposabilité limitée</option>
                                                    <option>SARL AU- Société à Resposabilité limitée à associé unique</option>
                                                    <option>SA - Société Anonyme</option>
                                                    <option>PP - Personne Physique</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Numéro de registre de commerce</label>
                                                <input type="text" class="form-control" placeholder="N° du R.C.">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">Commune</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>AGADIR</option>
                                                    <option>CASABLANCA</option>
                                                    <option>RABAT</option>
                                                    <option>MARRAKECH</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1">Adresse</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
