{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Société</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Form Componants</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Form Elements</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <form  method="POST" action ='{% url 'Edite_societe' societes.id %}'>
                {% csrf_token %}
            

                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Informations</h5>
                            </div>
                            <div class="card-body">
                                <h5>Form controls</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">

                                    
                                       
                                            <div class="form-group">
                                                <label>RAISON SOCIALE</label>
                                                <input type="text" class="form-control" placeholder="Raison sociale" name="raisonSocial" value=" {{societes.raisonSocial}} ">
                                            </div>
                                            <div class="form-group">
                                                <label>Nom</label>
                                                <input type="text" class="form-control" placeholder="Nom" name="nom" value=" {{societes.nom}}">
                                            </div>
                                            <div class="form-group">
                                                <label>C.N.I.</label>
                                                <input type="text" class="form-control" placeholder="CNI" name="{{societes.raisonSocial}}">
                                            </div>
                                            <div class="form-group">
                                                <label>Taxe Professionnel</label>
                                                <input type="text" class="form-control" placeholder="N° T.P." name="{{societes.tp}}">
                                            </div>
                                            
                                            <div class="form-group">
                                                <label>Téléphone</label>
                                                <input type="text" class="form-control" placeholder="N° de Téléphone" name="societes.tel}">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                                        
                                    </div>
                                    <div class="col-md-6">
                                      
                                            <div class="form-group">
                                                <label>IDENTIFIANT FISCAL</label>
                                                <input type="text" class="form-control" placeholder="Identifiant Fiscal" name="societes.iff}">
                                            </div>
                                            <div class="form-group">
                                                <label>Prénom</label>
                                                <input type="text" class="form-control" placeholder="Prénom" name="societes.prenom}">
                                            </div>
                                            <div class="form-group">
                                                <label>I.C.E.</label>
                                                <input type="text" class="form-control" placeholder="N° I.C.E." name="societes.ice}">
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">Forme Juridique</label>
                                                <select class="form-control" id="exampleFormControlSelect1" name="societes.formJuridique}">
                                                    <option>SARL- Société à Resposabilité limitée</option>
                                                    <option>SARL AU- Société à Resposabilité limitée à associé unique</option>
                                                    <option>SA - Société Anonyme</option>
                                                    <option>PP - Personne Physique</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Numéro de registre de commerce</label>
                                                <input type="text" class="form-control" placeholder="N° du R.C." name="societes.rc">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">Commune</label>
                                                <select class="form-control" id="exampleFormControlSelect1" name="societes.commune">
                                                    <option>AGADIR</option>
                                                    <option>CASABLANCA</option>
                                                    <option>RABAT</option>
                                                    <option>MARRAKECH</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1">Adresse</label> 
                                                <textarea name="societes.adress" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                                            </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
