{% extends "layouts/base.html" %}

{% block title %} Encaissements {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Bootstrap Basic Tables</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Basic Tables</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    

                    <!-- [ stiped-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Etat des Encaissements</h5>
                                <div class="text-right">
                                <form method="POST" action="{% url 'encaiss_creat' %}">
                                
                                <button type="submit" class="btn btn-primary " title="Ajouter" data-toggle="tooltip">Ajouter un encaissement s'il vous plait </button>
                                {% csrf_token %}
                                </form> 
                                
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Numéro de Facture</th>
                                                <th>Date Facture</th>
                                                <th>Client</th>
                                                <th>Nature</th>
                                                <th>Référence</th>
                                                <th>Code TVA</th>
                                                <th>Montant H.T.</th>
                                                <th>Montant T.V.A.</th>
                                                <th>Montant T.T.C.</th>
                                                <th>Editer</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for enca in encaissem %}
                                            <tr>
                                                <td>{{enca.Numéro_Facture}}</td>
                                                <td>{{enca.Date_Facture}}</td>
                                                <td>{{enca.Client}}</td>
                                                <td>{{enca.Nature}}</td>
                                                <td>{{enca.Référence}}</td>
                                                <td>{{enca.Code_TVA}}</td>
                                                <td>{{enca.Montant_HT}}</td>
                                                <td>{{enca.Montant_TVA}}</td>
                                                <td>{{enca.Montant_TTC}}</td>
                                                <td>{{enca.Prorata}}</td>

                                                <td class="border-0">
                                                <a href="#" class="d-flex align-items-center">
                                                   <!--
                                                       {% if request.user.is_staff %}
                                                        
                                                    <span><a  href = "{% url 'Edite_societe' soci.id  %}" class="feather icon-edit-1"></a> </span>
                                                    
                                                    <span><a  href = "{% url 'Delete_societe' soci.id  %}" class="feather icon-delete"></a> </span>
                                                    {% endif %}
                                                    --> 
                                                </a>
                                                </td>
                                            </tr>
                                         {% endfor %}
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ stiped-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
