{% extends "layouts/base.html" %}

{% block title %} Encaissements {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Bootstrap Basic Tables</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Basic Tables</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    

                    <!-- [ stiped-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Etat des Déductions</h5>
                                <div class="text-right">
                                <form method="POST" action="{% url 'deductions_creat' %}">
                                
                                <button type="submit" class="btn btn-primary " title="Ajouter" data-toggle="tooltip">Ajouter une déductions </button>
                                {% csrf_token %}
                                </form> 
                                
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Numéro de Facture</th>
                                                <th>Date Facture</th>
                                                <th>Fournisseur</th>
                                                <th>Nature</th>
                                                <th>Référence</th>
                                                <th>Code TVA</th>
                                                <th>Montant H.T.</th>
                                                <th>Montant T.V.A.</th>
                                                <th>Montant T.T.C.</th>
                                                <th>Date de paiement</th>
                                                <th>Mode de paiement</th>
                                                <th>Prorata</th>
                                                <th>TVA Déductible</th>
                                                <th>Non_resident</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for ded in deduction %}
                                            <tr>
                                                <td>{{ded.Numéro_Facture}}</td>
                                                <td>{{ded.Date_Facture}}</td>
                                                <td>{{ded.Fournisseur}}</td>
                                                <td>{{ded.Nature}}</td>
                                                <td>{{ded.Référence}}</td>
                                                <td>{{ded.Code_TVA}}</td>
                                                <td>{{ded.Montant_HT}}</td>
                                                <td>{{ded.Montant_TVA}}</td>
                                                <td>{{ded.Montant_TTC}}</td>
                                                <td>{{ded.Date_paiement}}</td>
                                                <td>{{ded.Mode_paiement}}</td>
                                                <td>{{ded.Prorata}}</td>
                                                <td>{{ded.TVA_déductible}}</td>
                                                <td>{{ded.Non_resident}}</td>
                                                
                                            </tr>
                                         {% endfor %}
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ stiped-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
